/* -- Tabset horizontal scroll --*/
#quarto-document-content > div.panel-tabset > ul.nav.nav-tabs {
  overflow-x: auto;
  overflow-y:hidden;
  flex-wrap: nowrap;
  text-wrap: nowrap;
  > li.nav-item {
    display: flex;
    > a.nav-link {
      text-align: center;
    }
  }
}

/* -- Giscus content --*/
.giscus {
	margin-left: 75px;
}
