/*-- scss:defaults --*/

$primary:  #0B41CD !default;
$fg: #000000 !default;
$bg: #ffffff !default;

/*-- scss:rules --*/

img.quarto-cover-image {
  box-shadow: 0 .5rem 1rem rgba(0,0,0,.15);
}

pre {
  background-color: rgba(233, 236, 239, 0.65);
}

code {
  color: inherit;
}

.navbar {
  height: 40px;
}

.panel-tabset .nav-item {
  font-size: 16px;
  font-style: normal;
}

#quarto-document-content {
	width: 110%;
	margin-left: 150px;
}
.sidebar {
	margin-left: 150px;
}
.sidebar.margin-sidebar {
  margin-left: 250px;
  width: 250px;
}
.page-navigation.column-page-right {
  margin-left: 250px;
}
/* -- Giscus content --*/
.giscus {
	margin-left: 75px;
}
